@{
    ViewData["Title"] = "Login";
}

<div class="top_bar">
    <h1>Login to this cool site!</h1>
    <a class="button" href="/">Register</a>
</div>


@model User

<form asp-action="LoginAction" asp-controller="Home" method="post">
    <div class="column">
    <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password">

        <input value="Login" type="submit"> 
    </div>
</form>
